@import "@root/scss/mixins.scss";

.ticker{
    width: 100%;
    overflow: hidden;
}
.ticker__dynamic{
    background: #fff;
    width: 100%;

    .swiper-wrapper{        
        transition-timing-function: linear;
    }
    .swiper-slide{
        display: flex;
        align-items: center;
        width: auto;
    }
}
.ticker__swiper{
    overflow: visible;
}
.ticker__item{
    padding: 5px 14px;

    span{
        @include archivo{
            font-size: 42px;
            line-height: 1.1;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }
    @media (max-width: 768px){
        span{
            font-size: 30px;
        }
    }
    @media (max-width: 465px){
        span{
            font-size: 18.8px;
        }
    }
}
.ticker__static{
    height: 54px;
    width: 100%;
    background: transparent;
    background-image: linear-gradient(to Right, #AE65EF 0, #AE65EF 54px, #000000 54px, #000000 108px);
    background-size: 108px 54px;
    background-repeat: repeat;

    @media (max-width: 768px){
        height: 35px;
        background-image: linear-gradient(to Right, #AE65EF 0, #AE65EF 35px, #000000 35px, #000000 70px);
        background-size: 70px 35px;
    }

    @media (max-width: 465px){
        height: 30px;
        background-image: linear-gradient(to Right, #AE65EF 0, #AE65EF 30px, #000000 30px, #000000 60px);
        background-size: 60px 30px;
    }
}